<nav class="my-navbar">
  <div class="my-container">
    <a href="">
      <h4>Placeholder</h4>
    </a>

    <ul class="nav-links">
      <li><a href="#games">Games</a></li>
      <li><a href="" class="profile-btn">Profile</a></li>
      <li><a href="#leaderboard">Leadeboard</a></li>
      <li><a href="" id="chat-rooms">Chat</a></li>
      <li>
        <a href="" data-bs-toggle="modal" data-bs-target="#settings"
          >Settings</a
        >
      </li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>

    <div class="hamburger">
      <div></div>
    </div>
  </div>
</nav>

<div class="modal-rooms hidden">
  <div class="modal-rooms-body">
    <form id="app-cover">
      <div id="select-box">
        <input
          type="checkbox"
          disabled="disabled"
          checked
          id="options-view-button"
        />
        <div id="select-button" class="brd">
          <div id="selected-value">
            <span>Select a channel</span>
          </div>
          <div id="chevrons">
            <i class="fas fa-chevron-up"></i>
            <i class="fas fa-chevron-down"></i>
          </div>
        </div>
        <div id="options">
          <div class="my-option">
            <input
              class="s-c top"
              type="radio"
              name="platform"
              value="Wordle"
            />
            <input
              class="s-c bottom"
              type="radio"
              name="platform"
              value="Wordle"
            />
            <i class="fa-brands fa-wordpress"></i>
            <span class="label">Wordle</span>
            <span class="opt-val">Wordle</span>
          </div>
          <div class="my-option">
            <input class="s-c top" type="radio" name="platform" value="Snake" />
            <input
              class="s-c bottom"
              type="radio"
              name="platform"
              value="Snake"
            />
            <i class="fa-solid fa-worm"></i>
            <span class="label">Snake</span>
            <span class="opt-val">Snake</span>
          </div>
          <div class="my-option">
            <input
              class="s-c top"
              type="radio"
              name="platform"
              value="Frogger"
            />
            <input
              class="s-c bottom"
              type="radio"
              name="platform"
              value="Frogger"
            />
            <i class="fa-solid fa-frog"></i>
            <span class="label">Frogger</span>
            <span class="opt-val">Frogger</span>
          </div>
          <div class="my-option">
            <input
              class="s-c top"
              type="radio"
              name="platform"
              value="Minesweeper"
            />
            <input
              class="s-c bottom"
              type="radio"
              name="platform"
              value="Minesweeper"
            />
            <i class="fa-solid fa-bomb"></i>
            <span class="label">Minesweeper</span>
            <span class="opt-val">Minesweeper</span>
          </div>
          <div class="my-option">
            <input class="s-c top" type="radio" name="platform" value="2048" />
            <input
              class="s-c bottom"
              type="radio"
              name="platform"
              value="2048"
            />
            <i class="fab fa-hackerrank"></i>
            <span class="label">2048</span>
            <span class="opt-val">2048</span>
          </div>
          <div class="my-option">
            <input
              class="s-c top"
              type="radio"
              name="platform"
              value="Flappy Bird"
            />
            <input
              class="s-c bottom"
              type="radio"
              name="platform"
              value="Flappy Bird"
            />
            <i class="fa-solid fa-dove"></i>
            <span class="label">Flappy Bird</span>
            <span class="opt-val">Flappy Bird</span>
          </div>
          <div class="my-option">
            <input
              class="s-c top"
              type="radio"
              name="platform"
              value="Platformer"
            />
            <input
              class="s-c bottom"
              type="radio"
              name="platform"
              value="Platformer"
            />
            <i class="fab fa-free-code-camp"></i>
            <span class="label">Platformer</span>
            <span class="opt-val">Platformer</span>
          </div>
          <div id="option-bg"></div>
        </div>
      </div>
    </form>
    <a href="" class="btn btn-primary btn-block joinBtn">Join</a>
  </div>
</div>

<!-- Settings -->
<div
  class="modal fade"
  id="settings"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h5>
            Username:
            <span class="text-info user-name"> <%= user.name %></span>
          </h5>
          <a
            href="#"
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#changeUsername"
            >Change Username</a
          >
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h5>
            Email:
            <span class="text-info user-email"> <%= user.email %></span>
          </h5>
          <a
            href="#"
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#changeEmail"
            >Change Email</a
          >
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h5>Password</h5>
          <a
            href="#"
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#changePassword"
            >Change password</a
          >
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h5>About Info</h5>
          <a
            href="#"
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#changeAbout"
            >Change About Info</a
          >
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h5>Current Country</h5>
          <a
            href="#"
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#changeCountry"
            >Change Current Country</a
          >
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h5>Date of registration:</h5>
          <h5 class="text-center"><%= user.date.toDateString() %></h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Change password -->

<div
  class="modal fade"
  id="changePassword"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="change-password"
          action="/users/password/change"
          method="POST"
        >
          <div class="form-group">
            <h4 class="error-password text-danger text-center"></h4>
            <h4 class="success-password text-success text-center"></h4>
            <label class="my-3" for="name">Enter new password:</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control mb-2"
              autocomplete="off"
              placeholder="Enter password"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
            <label class="my-3" for="name"> Confirm new password:</label>
            <input
              type="password"
              id="password2"
              name="password"
              class="form-control mb-3"
              autocomplete="off"
              placeholder="Enter password"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block mb-4">
            Save Changes
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Change about info -->

<div
  class="modal fade"
  id="changeAbout"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change About Info</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="change-about" action="/users/about/change" method="POST">
          <div class="form-group">
            <h4 class="error-about text-danger text-center"></h4>
            <h4 class="success-about text-success text-center"></h4>
            <label class="my-3" for="about"
              >Enter information about yourself:</label
            >
            <textarea
              id="about"
              name="about"
              style="height: 200px"
              class="form-control mb-2"
              aria-label="With textarea"
              placeholder="<%= user.about %>"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary btn-block mb-4">
            Save Changes
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Change city -->

<div
  class="modal fade"
  id="changeCountry"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Change Current Country
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="change-country"
          action="/users/country/change"
          method="POST"
        >
          <div class="form-group">
            <h4 class="error-country text-danger text-center"></h4>
            <h4 class="success-country text-success text-center"></h4>
            <label class="my-3" for="country">Select current country</label>
            <input
              list="country"
              name="country"
              class="datalist-input form-control mb-2"
            />
            <datalist id="country"> </datalist>
          </div>
          <button type="submit" class="btn btn-primary btn-block mb-4">
            Save Changes
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Change username -->

<div
  class="modal fade"
  id="changeUsername"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Username</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="change-username" action="/users/name/change" method="POST">
          <div class="form-group">
            <h4 class="error-username text-danger text-center"></h4>
            <h4 class="success-username text-success text-center"></h4>
            <label class="my-3" for="name">Enter new username:</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control mb-2"
              autocomplete="off"
              placeholder="Enter username"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block mb-4">
            Save Changes
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Change email -->

<div
  class="modal fade"
  id="changeEmail"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Email</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="change-email" action="/users/email/change" method="POST">
          <div class="form-group">
            <h4 class="error-email text-danger text-center"></h4>
            <h4 class="success-email text-success text-center"></h4>
            <label class="my-3" for="name">Enter new email:</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control mb-2"
              autocomplete="off"
              placeholder="Enter email"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block mb-4">
            Save Changes
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Showcase -->

<section class="showcase px-5">
  <div class="showcase-info">
    <h1>We are Placeholder</h1>
    <p class="showcase-text lead mt-4 mb-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi,
      suscipit!
    </p>
    <a href="#games" class="start my-btn">Start Playing</a>
  </div>
  <img src="/public/img/hero-girl.png" class="hero-girl" alt="" />
  <img src="/public/img/hero-guy-1.1.png" class="hero-guy-1" alt="" />
  <img src="/public/img/hero-guy-2.png" class="hero-guy-2" alt="" />
  <img src="/public/img/hero-guy-3.png" class="hero-guy-3" alt="" />
  <img src="/public/img/hero-pattern-bg.png" class="hero-pattern" alt="" />
</section>

<section class="game-genres-section" id="genres-section">
  <div class="container p-5">
    <h1 class="mt-5">More than 6 game genres to play!</h1>
    <h5>Welcome to one of the biggest online gaming platform!</h5>
    <div class="genres-wrapper">
      <div class="gaming-card p-2">
        <div class="gaming-circle">
          <img src="/public/img/classic.png" alt="classic" />
        </div>
        <h4>Classic</h4>
      </div>
      <div class="gaming-card p-2">
        <div class="gaming-circle">
          <img src="/public/img/arcade.png" alt="classic" />
        </div>
        <h4>Arcade</h4>
      </div>
      <div class="gaming-card p-2">
        <div class="gaming-circle">
          <img src="/public/img/puzzle.webp" alt="classic" />
        </div>
        <h4>Puzzle</h4>
      </div>
      <div class="gaming-card p-2">
        <div class="gaming-circle">
          <img src="/public/img/multiplayer.png" alt="classic" />
        </div>
        <h4>Multiplayer</h4>
      </div>
      <div class="gaming-card p-2">
        <div class="gaming-circle">
          <img src="/public/img/exclusive.png" alt="classic" />
        </div>
        <h4>Exclusives</h4>
      </div>
      <div class="gaming-card p-2">
        <div class="gaming-circle">
          <img src="/public/img/platformericon.png" alt="classic" />
        </div>
        <h4>Platformer</h4>
      </div>
      <div class="gaming-card p-2">
        <div class="gaming-circle">
          <img src="/public/img/singleplayer.png" alt="classic" />
        </div>
        <h4>Single Player</h4>
      </div>
    </div>
  </div>
</section>

<!-- Games -->

<section class="games-section" id="games">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1 class="mb-5">Puzzle Games</h1>
      </div>
    </div>

    <main class="card-container">
      <article class="Order-summay-card">
        <div class="img wordle"></div>
        <div class="order-summary-card--info">
          <h1 class="order-summary-card--info__title">Wordle</h1>
          <p class="order-summary-card--info__text">
            Guess the WORDLE in six tries. After each guess, the color of the
            tiles will change to show how close your guess was to the word.
          </p>
          <div class="order-summary-card--info-plan">
            <i class="fa-solid fa-puzzle-piece fa-2x"></i>
            <div class="plan-info">
              <p class="plan-info__name">Puzzle</p>
              <p class="plan-info__price">Genre</p>
            </div>
            <div class="plan-info">
              <p class="plan-info__name">Casual</p>
              <p class="plan-info__price">Genre</p>
            </div>
          </div>
          <div class="order-summary-card--buttons">
            <a
              href="dashboard/wordle"
              class="Order-summay-card--info-primary-buttons"
            >
              Start Playing
            </a>
          </div>
        </div>
      </article>
      <article class="Order-summay-card">
        <div class="img number"></div>
        <div class="order-summary-card--info">
          <h1 class="order-summary-card--info__title">2048</h1>
          <p class="order-summary-card--info__text">
            The objective of the game is to slide numbered tiles on a grid to
            combine them to create a tile with the number 2048.
          </p>
          <div class="order-summary-card--info-plan">
            <i class="fa-solid fa-puzzle-piece fa-2x"></i>
            <div class="plan-info">
              <p class="plan-info__name">Puzzle</p>
              <p class="plan-info__price">Genre</p>
            </div>
            <div class="plan-info">
              <p class="plan-info__name">Single Player</p>
              <p class="plan-info__price">Genre</p>
            </div>
          </div>
          <div class="order-summary-card--buttons">
            <a
              href="/dashboard/2048"
              class="Order-summay-card--info-primary-buttons"
            >
              Start Playing
            </a>
          </div>
        </div>
      </article>
      <article class="Order-summay-card">
        <div class="img sudoku"></div>
        <div class="order-summary-card--info">
          <h1 class="order-summary-card--info__title">Sudoku</h1>
          <p class="order-summary-card--info__text">
            Sudoku - is a logic-based puzzle. The puzzle provides a partially
            completed grid, which has a single solution.
          </p>
          <div class="order-summary-card--info-plan">
            <i class="fa-solid fa-puzzle-piece fa-2x"></i>
            <div class="plan-info">
              <p class="plan-info__name">Puzzle</p>
              <p class="plan-info__price">Genre</p>
            </div>
            <div class="plan-info">
              <p class="plan-info__name">Single Player</p>
              <p class="plan-info__price">Genre</p>
            </div>
          </div>
          <div class="order-summary-card--buttons">
            <a
              href="/dashboard/sudoku"
              class="Order-summay-card--info-primary-buttons"
            >
              Start Playing
            </a>
          </div>
        </div>
      </article>
    </main>
  </div>
</section>

<section class="games-section">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1 class="mb-5">Classic Games</h1>
      </div>
    </div>
    <main class="card-container">
      <article class="Order-summay-card">
        <div class="img snake"></div>
        <div class="order-summary-card--info">
          <h1 class="order-summary-card--info__title">Snake</h1>
          <p class="order-summary-card--info__text">
            Snake is a video game genre where the player maneuvers a growing
            line that becomes a primary obstacle to itself.
          </p>
          <div class="order-summary-card--info-plan">
            <i class="fa-solid fa-puzzle-piece fa-2x"></i>
            <div class="plan-info">
              <p class="plan-info__name">Puzzle</p>
              <p class="plan-info__price">Genre</p>
            </div>
            <div class="plan-info">
              <p class="plan-info__name">Single Player</p>
              <p class="plan-info__price">Genre</p>
            </div>
          </div>
          <div class="order-summary-card--buttons">
            <a
              href="dashboard/snake"
              class="Order-summay-card--info-primary-buttons"
            >
              Start Playing
            </a>
          </div>
        </div>
      </article>
      <article class="Order-summay-card">
        <div class="img minesweeper"></div>
        <div class="order-summary-card--info">
          <h1 class="order-summary-card--info__title">Minesweeper</h1>
          <p class="order-summary-card--info__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
            modi blanditiis assumenda illo rerum dignissimos!
          </p>
          <div class="order-summary-card--info-plan">
            <i class="fa-solid fa-puzzle-piece fa-2x"></i>
            <div class="plan-info">
              <p class="plan-info__name">Puzzle</p>
              <p class="plan-info__price">Genre</p>
            </div>
            <div class="plan-info">
              <p class="plan-info__name">Single Player</p>
              <p class="plan-info__price">Genre</p>
            </div>
          </div>
          <div class="order-summary-card--buttons">
            <a
              href="dashboard/minesweeper"
              class="Order-summay-card--info-primary-buttons"
            >
              Start Playing
            </a>
          </div>
        </div>
      </article>
      <article class="Order-summay-card">
        <div class="img pacman"></div>
        <div class="order-summary-card--info">
          <h1 class="order-summary-card--info__title">Pacman</h1>
          <p class="order-summary-card--info__text">
            Pac-Man is an action maze chase video game; the player controls the
            eponymous character through an enclosed maze.
          </p>
          <div class="order-summary-card--info-plan">
            <i class="fa-solid fa-puzzle-piece fa-2x"></i>
            <div class="plan-info">
              <p class="plan-info__name">Arcade</p>
              <p class="plan-info__price">Genre</p>
            </div>
            <div class="plan-info">
              <p class="plan-info__name">Single Player</p>
              <p class="plan-info__price">Genre</p>
            </div>
          </div>
          <div class="order-summary-card--buttons">
            <a
              href="dashboard/pacman"
              class="Order-summay-card--info-primary-buttons"
            >
              Start Playing
            </a>
          </div>
        </div>
      </article>
    </main>
  </div>
</section>

<section class="games-section">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1 class="mb-5">Mini Games</h1>
      </div>
    </div>
    <main class="card-container">
      <article class="Order-summay-card">
        <div class="img flappy"></div>
        <div class="order-summary-card--info">
          <h1 class="order-summary-card--info__title">Flappy Bird</h1>
          <p class="order-summary-card--info__text">
            The game is a side-scroller where the player controls a bird,
            attempting to fly between columns of pipes without hitting them.
          </p>
          <div class="order-summary-card--info-plan">
            <i class="fa-solid fa-puzzle-piece fa-2x"></i>
            <div class="plan-info">
              <p class="plan-info__name">Mini-game</p>
              <p class="plan-info__price">Genre</p>
            </div>
            <div class="plan-info">
              <p class="plan-info__name">Casual</p>
              <p class="plan-info__price">Genre</p>
            </div>
          </div>
          <div class="order-summary-card--buttons">
            <a
              href="dashboard/flappy"
              class="Order-summay-card--info-primary-buttons"
            >
              Start Playing
            </a>
          </div>
        </div>
      </article>
      <article class="Order-summay-card">
        <div class="img doodle"></div>
        <div class="order-summary-card--info">
          <h1 class="order-summary-card--info__title">Doodle Jump</h1>
          <p class="order-summary-card--info__text">
            The aim is to guide a four-legged creature called "The Doodler" up a
            never-ending series of platforms without falling.
          </p>
          <div class="order-summary-card--info-plan">
            <i class="fa-solid fa-puzzle-piece fa-2x"></i>
            <div class="plan-info">
              <p class="plan-info__name">Mini-game</p>
              <p class="plan-info__price">Genre</p>
            </div>
            <div class="plan-info">
              <p class="plan-info__name">Casual</p>
              <p class="plan-info__price">Genre</p>
            </div>
          </div>
          <div class="order-summary-card--buttons">
            <a
              href="dashboard/doodle"
              class="Order-summay-card--info-primary-buttons"
            >
              Start Playing
            </a>
          </div>
        </div>
      </article>
      <article class="Order-summay-card">
        <div class="img speed"></div>
        <div class="order-summary-card--info">
          <h1 class="order-summary-card--info__title">Speed Typing</h1>
          <p class="order-summary-card--info__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora ex
            exercitationem, maiores voluptatum rerum autem!
          </p>
          <div class="order-summary-card--info-plan">
            <i class="fa-solid fa-puzzle-piece fa-2x"></i>
            <div class="plan-info">
              <p class="plan-info__name">Mini-game</p>
              <p class="plan-info__price">Genre</p>
            </div>
            <div class="plan-info">
              <p class="plan-info__name">Casual</p>
              <p class="plan-info__price">Genre</p>
            </div>
          </div>
          <div class="order-summary-card--buttons">
            <a
              href="dashboard/speed"
              class="Order-summay-card--info-primary-buttons"
            >
              Start Playing
            </a>
          </div>
        </div>
      </article>
    </main>
  </div>
</section>

<section class="games-section">
  <div class="container p-5">
    <main class="card-container">
      <article class="Order-summay-card">
        <div class="img tenzies"></div>
        <div class="order-summary-card--info">
          <h1 class="order-summary-card--info__title">Tenzies</h1>
          <p class="order-summary-card--info__text">
            Tenzies is the world's fastest dice game! Fast, fun, and engaging,
            game is perfect for table top beginners and aficionados alike.
          </p>
          <div class="order-summary-card--info-plan">
            <i class="fa-solid fa-puzzle-piece fa-2x"></i>
            <div class="plan-info">
              <p class="plan-info__name">Mini-game</p>
              <p class="plan-info__price">Genre</p>
            </div>
            <div class="plan-info">
              <p class="plan-info__name">Casual</p>
              <p class="plan-info__price">Genre</p>
            </div>
          </div>
          <div class="order-summary-card--buttons">
            <a
              href="dashboard/tenzies"
              class="Order-summay-card--info-primary-buttons"
            >
              Start Playing
            </a>
          </div>
        </div>
      </article>
      <article class="Order-summay-card">
        <div class="img quizzical"></div>
        <div class="order-summary-card--info">
          <h1 class="order-summary-card--info__title">Quizzical</h1>
          <p class="order-summary-card--info__text">
            Quizzical is a game in which player attempt to answer questions
            correctly about a certain or variety of subjects.
          </p>
          <div class="order-summary-card--info-plan">
            <i class="fa-solid fa-puzzle-piece fa-2x"></i>
            <div class="plan-info">
              <p class="plan-info__name">Quiz-game</p>
              <p class="plan-info__price">Genre</p>
            </div>
            <div class="plan-info">
              <p class="plan-info__name">Casual</p>
              <p class="plan-info__price">Genre</p>
            </div>
          </div>
          <div class="order-summary-card--buttons">
            <a
              href="dashboard/quizzical"
              class="Order-summay-card--info-primary-buttons"
            >
              Start Playing
            </a>
          </div>
        </div>
      </article>
      <article class="Order-summay-card">
        <div class="img memory"></div>
        <div class="order-summary-card--info">
          <h1 class="order-summary-card--info__title">MemoryGame</h1>
          <p class="order-summary-card--info__text">
            Very cool memory card game with fruits! Flip the cards to match them! Match all the fruits to win!
          </p>
          <div class="order-summary-card--info-plan">
            <i class="fa-solid fa-puzzle-piece fa-2x"></i>
            <div class="plan-info">
              <p class="plan-info__name">Memory-game</p>
              <p class="plan-info__price">Genre</p>
            </div>
            <div class="plan-info">
              <p class="plan-info__name">Casual</p>
              <p class="plan-info__price">Genre</p>
            </div>
          </div>
          <div class="order-summary-card--buttons">
            <a
              href="dashboard/memory"
              class="Order-summay-card--info-primary-buttons"
            >
              Start Playing
            </a>
          </div>
        </div>
      </article>
    </main>
  </div>
</section>

<section class="games-section">
  <div class="container p-5">
    <main class="card-container">
      <article class="Order-summay-card">
        <div class="img space-invaders"></div>
        <div class="order-summary-card--info">
          <h1 class="order-summary-card--info__title">Space Invaders</h1>
          <p class="order-summary-card--info__text">
            Fixed shooter in which the player moves a laser cannon horizontally
            across the bottom of the screen and fires at aliens overhead.
          </p>
          <div class="order-summary-card--info-plan">
            <i class="fa-solid fa-puzzle-piece fa-2x"></i>
            <div class="plan-info">
              <p class="plan-info__name">Arcade</p>
              <p class="plan-info__price">Genre</p>
            </div>
            <div class="plan-info">
              <p class="plan-info__name">Casual</p>
              <p class="plan-info__price">Genre</p>
            </div>
          </div>
          <div class="order-summary-card--buttons">
            <a
              href="dashboard/spaceinvaders"
              class="Order-summay-card--info-primary-buttons"
            >
              Start Playing
            </a>
          </div>
        </div>
      </article>
    </main>
  </div>
</section>

<section class="games-section">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1 class="mb-5">Exclusives</h1>
      </div>
    </div>
    <main class="card-container">
      <article class="Order-summay-card">
        <div class="img platformer"></div>
        <div class="order-summary-card--info">
          <h1 class="order-summary-card--info__title">1-bit platformer</h1>
          <p class="order-summary-card--info__text">
            Play an exclusive fresh out of the oven 1-bit-platformer game. Demo
            available right now!
          </p>
          <div class="order-summary-card--info-plan">
            <i class="fa-solid fa-puzzle-piece fa-2x"></i>
            <div class="plan-info">
              <p class="plan-info__name">Platformer</p>
              <p class="plan-info__price">Genre</p>
            </div>
            <div class="plan-info">
              <p class="plan-info__name">Arcade</p>
              <p class="plan-info__price">Genre</p>
            </div>
          </div>
          <div class="order-summary-card--buttons">
            <a
              href="dashboard/platformer"
              class="Order-summay-card--info-primary-buttons"
            >
              Start Playing
            </a>
          </div>
        </div>
      </article>
      <article class="Order-summay-card">
        <div class="img frogger"></div>
        <div class="order-summary-card--info">
          <h1 class="order-summary-card--info__title">Frogger</h1>
          <p class="order-summary-card--info__text">
            The objective of the game is to guide a frog to each of the empty
            "frog homes" at the top of the screen.
          </p>
          <div class="order-summary-card--info-plan">
            <i class="fa-solid fa-puzzle-piece fa-2x"></i>
            <div class="plan-info">
              <p class="plan-info__name">Arcade</p>
              <p class="plan-info__price">Genre</p>
            </div>
            <div class="plan-info">
              <p class="plan-info__name">Single Player</p>
              <p class="plan-info__price">Genre</p>
            </div>
          </div>
          <div class="order-summary-card--buttons">
            <a
              href="dashboard/frogger"
              class="Order-summay-card--info-primary-buttons"
            >
              Start Playing
            </a>
          </div>
        </div>
      </article>
    </main>
  </div>
</section>

<section class="games-section">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1 class="mb-5">Multiplayer</h1>
      </div>
    </div>
    <main class="card-container">
      <article class="Order-summay-card">
        <div class="img agario"></div>
        <div class="order-summary-card--info">
          <h1 class="order-summary-card--info__title">Agar.io</h1>
          <p class="order-summary-card--info__text">
            The goal is to gain as much mass as possible by eating agar and
            cells smaller than the player's cell while avoiding larger ones.
          </p>
          <div class="order-summary-card--info-plan">
            <i class="fa-solid fa-puzzle-piece fa-2x"></i>
            <div class="plan-info">
              <p class="plan-info__name">Casual</p>
              <p class="plan-info__price">Genre</p>
            </div>
            <div class="plan-info">
              <p class="plan-info__name">Multiplayer</p>
              <p class="plan-info__price">Genre</p>
            </div>
          </div>
          <div class="order-summary-card--buttons">
            <a
              href="dashboard/agario"
              class="Order-summay-card--info-primary-buttons"
            >
              Start Playing
            </a>
          </div>
        </div>
      </article>
      <article class="Order-summay-card">
        <div class="img battleship"></div>
        <div class="order-summary-card--info">
          <h1 class="order-summary-card--info__title">Battleship</h1>
          <p class="order-summary-card--info__text">
            Play a class battleship game online with a random opponent or create a custom game and invite your friend!
          </p>
          <div class="order-summary-card--info-plan">
            <i class="fa-solid fa-puzzle-piece fa-2x"></i>
            <div class="plan-info">
              <p class="plan-info__name">Casual</p>
              <p class="plan-info__price">Genre</p>
            </div>
            <div class="plan-info">
              <p class="plan-info__name">Multiplayer</p>
              <p class="plan-info__price">Genre</p>
            </div>
          </div>
          <div class="order-summary-card--buttons">
            <a
              href="dashboard/battleship"
              class="Order-summay-card--info-primary-buttons"
            >
              Start Playing
            </a>
          </div>
        </div>
      </article>
    </main>
  </div>
</section>

<div class="my-profile-modal hidden">
  <div class="my-profile-modal-body mt-3">
    <div class="row py-5 px-4 my-profile-close">
      <div class="col-lg-5 mx-auto">
        <div class="bg-white shadow rounded overflow-hidden">
          <div class="px-4 pt-0 pb-4 cover" style="position: relative">
            <i
              class="fa-solid fa-xmark fa-2x closeProfileBtn"
              style="
                cursor: pointer;
                color: #fff;
                position: absolute;
                top: 20px;
                right: 20px;
              "
            ></i>
            <div class="d-flex align-items-center-end profile-head">
              <div class="profile mr-3">
                <% if (user.filename) { %>
                <img
                  src="/dashboard/image/<%= user.filename %>"
                  alt="..."
                  class="rounded mb-2 img-thumbnail"
                />
                <% } else { %>
                <img
                  src="../public/img/default.png"
                  alt="..."
                  width="130"
                  class="rounded mb-2 img-thumbnail"
                />
                <% } %>

                <form
                  method="POST"
                  id="image-form"
                  action="/dashboard/upload"
                  enctype="multipart/form-data"
                >
                  <input type="file" id="file" name="file" accept="image/*" />
                  <label
                    for="file"
                    style="
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 130px;
                      height: 130px;
                      cursor: pointer;
                    "
                  ></label>
                  <input
                    type="submit"
                    style="width: 130px"
                    class="btn btn-outline-dark btn-sm btn-block profile-img-submit"
                    value="Save changes"
                  />
                </form>
              </div>
              <div
                class="d-flex flex-column justify-content-center align-items-start mx-4 mb-5 text-white"
              >
                <h4 class="mt-0 mb-1 nameInProfile"><%= user.name %></h4>
                <p class="small mb-4">
                  <i class="fas fa-map-marker-alt mr-2"> </i
                  ><span class="countryInProfile"> <%= user.country %> </span>
                </p>
              </div>
            </div>
          </div>
          <div class="bg-light p-4 d-flex justify-content-end text-center">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">
                  <%= user.wordle.games + user.snake.games + user.number.games +
                  user.flappy.games + user.sudoku.games + user.doodle.games +
                  user.speed.games + user.minesweeper.games %>
                </h5>
                <small class="text-muted"> Games</small>
              </li>
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">
                  <%= user.wordle.wins + user.number.wins +
                  user.sudoku.finishedEasy + user.sudoku.finishedNormal +
                  user.sudoku.finishedHard + user.sudoku.finishedVeryHard +
                  user.minesweeper.wins %>
                </h5>
                <small class="text-muted"> Wins </small>
              </li>
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">
                  <%= user.messagesSend %>
                </h5>
                <small class="text-muted"> Messages</small>
              </li>
            </ul>
          </div>
          <div class="px-4 py-3">
            <h5 class="mb-0 text-center">About</h5>
            <div class="mt-2 p-4 rounded shadow-sm bg-light">
              <p class="font-italic mb-0 user-about"><%= user.about %></p>
            </div>
          </div>
          <div class="px-4 py-3">
            <h5 class="mb-0 text-center">Stats</h5>
            <div class="mt-2 p-4 rounded shadow-sm bg-light">
              <% let points = (user.wordle.games + user.wordle.wins +
              user.number.games + user.number.wins + user.snake.games +
              user.flappy.games + user.sudoku.games + user.doodle.games +
              user.speed.games + user.minesweeper.games + user.minesweeper.wins)
              * 10 %>
              <p class="font-italic mb-0">
                Level: <%= parseInt(points / 100) + 1 %>
              </p>
              <div class="progress" style="height: 10px">
                <div
                  class="progress-bar leverBar"
                  role="progressbar"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  data-width="<%= points % 100%>"
                ></div>
              </div>
              <p class="font-italic mb-0">Points: <%= points %></p>
              <p class="font-italic mb-0">
                Hours played: <%= parseFloat((user.timeSpend.wordle +
                user.timeSpend.number + user.timeSpend.snake +
                user.timeSpend.flappy + user.timeSpend.sudoku +
                user.timeSpend.doodle + user.timeSpend.minesweeper +
                user.timeSpend.speed) / 3600).toFixed(1); %>
              </p>
            </div>
          </div>
          <div class="py-4 px-4">
            <div class="mb-3">
              <h5 class="mb-0 text-center">Favourite game</h5>
              <% let sort = []; %> <% for (let game in user.timeSpend) { %> <%
              sort.push([game, user.timeSpend[game]]); %> <% } %> <%
              sort.sort(function(a, b) { %> <% return b[1] - a[1]; %> <% }); %>
              <% let bestGame = sort[0][0]; %>
            </div>
            <div class="row">
              <div class="col-lg-6 mb-2 pr-lg-1 m-auto">
                <% if (bestGame == 'minesweeper') { %>
                <img
                  src="/public/img/minesweeper.png"
                  alt=""
                  class="img-fluid rounded shadow-sm"
                />
                <% } else if (bestGame == 'platformer') { %>
                <img
                  src="/public/img/platformer.png"
                  alt=""
                  class="img-fluid rounded shadow-sm"
                />
                <% } else if (bestGame == 'speed') { %>
                <img
                  src="/public/img/speed.png"
                  alt=""
                  class="img-fluid rounded shadow-sm"
                />
                <% } else if (bestGame == 'number') { %>
                <img
                  src="/public/img/2048.png"
                  alt=""
                  class="img-fluid rounded shadow-sm"
                />
                <% } else if (bestGame == 'wordle') { %>
                <img
                  src="/public/img/wordle.jpeg"
                  alt=""
                  class="img-fluid rounded shadow-sm"
                />
                <% } else if (bestGame == 'flappy') { %>
                <img
                  src="/public/img/flappy.jpeg"
                  alt=""
                  class="img-fluid rounded shadow-sm"
                />
                <% } else if (bestGame =='snake') { %>
                <img
                  src="/public/img/snake.png"
                  alt=""
                  class="img-fluid rounded shadow-sm"
                />
                <% } else if (bestGame=='doodle') { %>
                <img
                  src="/public/img/doodle.jpeg"
                  alt=""
                  class="img-fluid rounded shadow-sm"
                />
                <% } else if (bestGame == 'sudoku') {%>
                <img
                  src="/public/img/sudoku.png"
                  alt=""
                  class="img-fluid rounded shadow-sm"
                />

                <% } else if (bestGame == 'pacman') { %>
                <img
                  src="/public/img/pacman.jpeg"
                  alt=""
                  class="img-fluid rounded shadow-sm"
                />

                <% } else if (bestGame == 'frogger') { %>
                <img
                  src="/public/img/frogger.png"
                  alt=""
                  class="img-fluid rounded shadow-sm"
                />
                <% } else if (bestGame == 'tenzies') { %>
                <img
                  src="/public/img/tenzies.webp"
                  alt=""
                  class="img-fluid rounded shadow-sm"
                />
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="menu-on-mobile out hidden">
  <div class="grid-menu-on-mobile">
    <img
      class="icon play-icon"
      style="animation-delay: -0.75s; animation-duration: 0.25s"
      height="100"
      src="/public/img/play.png"
      width="100"
    />

    <img
      class="icon profile-icon"
      style="animation-delay: -0.5s; animation-duration: 0.3s"
      height="100"
      src="/public/img/userprofile.png"
      width="100"
    />
    <img
      class="icon leaderboard-icon"
      style="animation-delay: -0.05s; animation-duration: 0.27s"
      height="100"
      src="/public/img/trophymenu.png"
      width="100"
    />

    <img
      class="icon"
      style="animation-delay: -0.2s; animation-duration: 0.22s"
      height="100"
      id="chat-rooms-2"
      src="/public/img/message.png"
      width="100"
    />
    <img
      class="icon"
      style="animation-delay: -0.3s; animation-duration: 0.28s"
      height="100"
      data-bs-toggle="modal"
      data-bs-target="#settings"
      src="/public/img/settings.png"
      width="100"
    />

    <img
      class="icon exit-icon"
      style="animation-delay: -0.22s; animation-duration: 0.3s"
      height="90"
      width="90"
      src="/public/img/logout.png"
      width="90"
    />
  </div>
</div>

<section id="leaderboard" class="">
  <div class="leaderboard">
    <header class="leaderboard-header">
      <h1>
        Leader <br />
        Board
      </h1>
      <img src="/public/img/trophy.png" alt="" />
      <nav class="first">
        <a href="" id="wordle-table" class="tab-item active">Wordle</a>
        <a href="" id="number-table" class="tab-item">2048</a>
        <a href="" id="snake-table" class="tab-item">Snake</a>
        <a>
          <i class="leaderboard-toggler fa-solid fa-angles-right"></i>
        </a>
      </nav>
      <nav class="second none">
        <a href="" id="bird-table" class="tab-item">Flappy</a>
        <a href="" id="doodle-table" class="tab-item">Doodle</a>
        <a href="" id="speed-table" class="tab-item">Speed Typing</a>
        <a>
          <i class="leaderboard-toggler-two fa-solid fa-angles-right"></i>
        </a>
      </nav>
      <nav class="third none">
        <a href="" id="minesweeper-table" class="tab-item">Minesweeper</a>
        <a href="" id="tenzies-table" class="tab-item">Tenzies</a>
        <a>
          <i class="leaderboard-toggler-three fa-solid fa-angles-right"></i>
        </a>
      </nav>
    </header>

    <% include ./partials/leaderboard %>
  </div>
</section>

<button class="chatbox-open">
  <i class="fa fa-comment fa-2x"></i>
  <span
    id="notification-count"
    class="hidden position-absolute top-10 start-90 translate-middle badge rounded-pill bg-danger"
  >
  </span>
</button>

<div class="chat-section-wrapper hidden">
  <section class="chat-section">
    <section class="msger">
      <header class="msger-header">
        <div class="msger-header-title">
          <i class="fas fa-comment-alt"></i> <span class="room-name"></span>
        </div>
        <div class="msger-header-options">
          <span class="leave-btn"
            ><i class="fa-solid fa-arrow-right-from-bracket"></i
          ></span>
        </div>
      </header>

      <main class="msger-chat"></main>

      <form class="msger-inputarea">
        <input
          type="text"
          class="msger-input"
          placeholder="Enter your message..."
        />
        <button type="submit" class="msger-send-btn">Send</button>
      </form>
    </section>
  </section>
</div>

<footer>
  <img src="/public/img/footer-white-mask.png" class="footer-mask" />
  <img src="/public/img/footer-pattern-bg.png" class="footer-pattern" />
  <div class="footer-links-wrapper">
    <!-- <h1>Interested in working with us?</h1> -->
    <h1>Follow Placeholder</h1>
    <div class="footer-links">
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-tiktok"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
  </div>
</footer>
