<div>
  <h5>Username</h5>
  <h5><%= user.name %></h5>
</div>
<div>
  <h5>Games played</h5>
  <h5><%= user.wordle.games %></h5>
</div>
<div>
  <h5>Wins</h5>
  <h5><%= user.wordle.wins %></h5>
</div>
<div>
  <h5>Best streak</h5>
  <h5><%= user.wordle.bestStreak %></h5>
</div>
<div>
  <h5>Current streak</h5>
  <h5><%= user.wordle.currentStreak %></h5>
</div>
<div>
  <a href="/dashboard" class="btn btn-secondary">Back to Dashboard</a>
</div>
